nuxt-link.baseTask(:to="to" exact)
  .baseTask__item {{ title }}
  .baseTask__item {{ date }}
  .baseTask__item {{ statusParse }}
  .baseTask__item {{ creator }}
  .baseTask__item {{ responsible }}
  .baseTask__item {{ time !== 0 ? `${this.time} ч` : 'нет' }}
  .baseTask__item {{ timeSpent }} ч
