nuxt-link.baseTask(:to="to" exact)
  .baseTask__item {{ title }}
  .baseTask__item {{ date }}
  .baseTask__item {{ creator }}
  .baseTask__item {{ responsible }}
  .baseTask__item {{ time }} ч
  .baseTask__item {{ timeSpent }} ч
