transition(name="fade")
  .baseSpinner(v-if="loading")
    .baseSpinner__circ
      .baseSpinner__load Loading . . .
      .baseSpinner__hands
      .baseSpinner__body
      .baseSpinner__head
        .baseSpinner__eye
