.baseSpinner {
  background-color: $white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;

  &.fade-leave-active,
  &.fade-enter-active {
    transition: opacity 0.3s ease;
  }

  &.fade-enter,
  &.fade-leave-to {
    opacity: 0;
  }

  &__eye {
    width: 32px;
    height: 13px;
    background-color: $main;
    border-radius:0px 0px 20px 20px;
    position: relative;
    left: 17px;
    top: 40px;
    box-shadow: 52px 0px 0px 0px $main;
  }
  
  &__head {
    backface-visibility: hidden;
    position: relative;
    margin: -400px auto;
    width: 128px;
    height: 128px;
    background-color: #111;
    border-radius: 50%;
    box-shadow: inset -4px 2px 0px 0px $main;
    animation: headAnim 1.5s infinite alternate;
    animation-timing-function:ease-out;
  }

  &__body {
    position: relative;
    margin: 144px auto;
    width: 224px;
    height: 192px;
    background-color: #111;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px $main;
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
  }
  
  @keyframes headAnim {
    0% { top:0px; }
    50%{ top:10px; }
    100% { top:0px; }
  }
  
  @keyframes bodyAnim {
    0% { top:-5px; }
    50%{ top:10px; }
    100% { top:-5px; }
  }
  
  &__circ {
    width: 300px;
    height: 300px;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    overflow: hidden;
  }
  
  &__hands {
    backface-visibility: hidden;
    margin-top: 224px;
    width: 155px;
    height: 210px;
    position: absolute;
    background-color: #111;
    border-radius:20px;
    box-shadow:-1px -4px 0px 0px $main;
    transform:rotate(45deg);
    top:75%;
    left: 16%;
    z-index: 1;
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
  }

  &__load{
    text-align: center;
    margin: 0 auto;
    font: 400 28px/1em 'PT Sans', sans-serif;
    color: $main;
  }
}
