.container.tasks
  .tasks__content
    .tasks__container
      .tasks__wrapper(v-bar="{}")
        .tasks__scroll
          .tasks__items
            BaseTask(
              v-for="item in tasks"
              :key="item.id"
              :to="{name: 'tasks-id', params: {id: item.id}}"
              :title="item.title"
              :date="parseDate(item.date)"
              :creator="$store.state.ModuleAuth.users[item.creator].info.name"
              :responsible="$store.state.ModuleAuth.users[item.responsible].info.name"
              :time="item.assessment"
              :timeSpent="item.timeSpent"
            )
        .tasks__labels
          .tasks__label Название
          .tasks__label Дата создания
          .tasks__label Создатель
          .tasks__label Ответственный
          .tasks__label Оценка
          .tasks__label Затрачено
    BaseButton.tasks__button(@click.native="addTask = true") Добавить задачу

    transition(name="fade")
      BasePopup.tasks__popup(v-if="addTask", @closePopup="addTask = false")
        AddTask(@closePopup="addTask = false")
