component.baseButton(:is="tag", :disabled="loading")
  BaseSpinner.baseButton__spanner(:inner="true", v-if="loading", :white="true")
  .baseButton__content(:class="{'baseButton__content--loading':loading}")
    slot
