transition(name="fade")
  .baseSpinner(v-if="loading", :class="{'baseSpinner--inner':inner, 'baseSpinner--white':white}")
    .baseSpinner__container
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
      .baseSpinner__circ
