/* stylelint-disable */
html,
body,
#__nuxt,
#__layout {
  min-width: 320px;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  color: #000;
}

#__layout {
  & > div:first-child {
    height: 100%;
  }
}

/* stylelint-enable */
